html {
    background-image: url("./img/background.jpg");
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}

p {
    font-size: 30px;
    text-align: right;
    margin-top: 5%;
    margin-right: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-style: bold;
}